.gm-home-login {
    margin: auto;
    margin-top: 100px;
    padding: 10px 20px;
    width: 25%;
    border: solid #4E5166 1px;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

.gm-home-login:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: #afb1c2;
}

.gm-home-login-title {
    text-align: center;
    color: #4E5166;
    font-size: 30px;
}

@media screen and (max-width: 998px) {
    .gm-home-login {
        width: 60%;
    }    
}

