.gm-pages-logout {
    margin: auto;
    padding: 0 75px;
    background-color: #FFD7D7;
    border: solid #FFD7D7 1px;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

.gm-pages-logout-title {
    text-align: center;
    color: #4E5166;
    font-size: 30px;
}

.gm-pages-logout:hover {
    background-color: #d1a3a3;
    transition: background-color 0.3s ease-in-out;
}

@media screen and (max-width: 998px) { 
    .gm-pages-logout {
        margin: auto;
        width: 50%;
    }
    
    .gm-pages-logout-title {
        margin: 20px auto;
        width: 100%;
    }
}