.gm-newpost-card {
    width: 25%;
    margin: auto;
    margin-top: 100px;
    padding: 10px 20px;
    background-color: #4E5166;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

.gm-newpost-title {
    text-align: center;
    color: #FFF;
    font-size: 30px;
}

.gm-newpost-card:hover {
    background-color: #6c6f8d;
    transition: background-color 0.3s ease-in-out;
}

@media screen and (max-width: 998px) { 
    .gm-newpost-card {
        width: 70%;
    }
}

@media screen and (max-width: 728px) { 
    .gm-newpost-card {
        width: 80%;
    }
}