.gm-post-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

.gm-post-card {
    margin-top : 100px;
    height: 500px;
    width: 75%;
    border-radius: 30px;
    background-color: #FFD7D7;
}

.gm-post-title {
    margin: 0;
    padding: 20px 20px;
    border-radius: 30px 30px 0 0;
    background-color: #4E5166;
    color: #FFF;
    text-align: right;
    font-size: 30px;
}

.gm-post-date {
    margin: 5px 0;
    padding-left: 40px;
    color: #4E5166;
    font-size: 20px;
    font-weight: bold;
}

.gm-post-text {
    display: block;
    margin: auto;
    padding: 20px;
    height: 60%;
    width: 80%;
    border-radius: 30px;
    border : none;
    background-color: #FFF;
    resize: none;
}

.gm-post-footer {
    display: flex;
    justify-content: space-between;
    color: #4E5166;
    font-size: 20px;
    font-weight: bold;
}

.gm-post-thumbs {
    width: 10%;
    margin: 10px 15px 0 0;
    text-align: center;
    background-color: #4E5166;
    border-radius: 15px;
    color: #FFF;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.gm-post-thumbs:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: #afb1c2;
    cursor: pointer;
}

.gm-post-file {
    padding: 10px 0 0 40px;
}

.gm-submit-container {
    align-self: center;
    width: 20%;
}

.gm-post_submit {
    height: 100px;
    width: 90%;
    margin-top: 100px;
    border: none;
    border-radius: 30px;
    background-color: #4E5166;
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

.gm-post_submit:hover {
    color: #fff;
    background-color: #6c6f8d;
}

@media screen and (max-width: 1487px) {
    .gm-post-container {
        display: block;
        justify-content: center;
    }
    .gm-post-card {
        margin : 75px auto;
        height: 700px;
        width: 90%;
    }
    .gm-newpost-text {
        display: block;
        height: 70%;
        margin: 10px auto;
        width: 80%;
    }
    .gm-post-file {
        padding: 40px 0 0 40px;
    }
    .gm-submit-container {
        display: block;
        width: 100%;
        text-align: center;
    }
}