.gm-connect {
    display: block;
    margin: auto;
    padding: 30px 100px;
    background-color: #4E5166;
    border: solid #FFD7D7 1px;
    border-radius: 30px;
}

.gm-connect-title {
    text-align: center;
    color: #FFF;;
    font-size: 30px;
}

.gm-connect:hover {
    color: #fff;
    background-color: #6c6f8d;
}