.gm-pages-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gm-pages-header-logo {
    height: 150px;
}

@media screen and (max-width: 998px) { 
    .gm-pages-header {
        flex-direction: column;
    }
    
    .gm-pages-header-logo {
        height: 100px;
    }
}