.gm-pages-form {
    display: flex;
    flex-direction: column;
    margin: 100px auto 50px;
    padding: 10px 0 20px;
    width: 50%;
    border-radius: 50px;
    text-align: center;
    background-color: #FFD7D7;
}

.gm-pages-form-input {
    margin: auto;
    border: 1px #FFD7D7 solid;
    border-radius: 15px;
    margin-bottom: 50px;
    padding-left: 5px;
    width: 500px;
    height: 40px;
}

.gm-pages-form-text{
    font-weight: bold;
    font-size: 30px;
    color: #4E5166;
}

@media screen and (max-width: 998px) { 
    .gm-pages-form {
        width: 90%;
    }
    
    .gm-pages-form-input {
        width: 90%;
    }
}