.gm-form-btn {
    display: block;
    margin: auto;
    padding: 30px 100px;
    background-color: #4E5166;
    border: solid #FFD7D7 1px;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

.gm-form-btn-title {
    text-align: center;
    color: #FFF;;
    font-size: 30px;
}

.gm-form-btn:hover {
    color: #fff;
    background-color: #6c6f8d;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

@media screen and (max-width: 998px) {
    .gm-form-btn {
        padding: 30px 50px;
    }
}    